extends layout/app
block var 
    - let page_title = "Home"; 
block content 
    .start 
        .start__container 
            .start__author 
                h1 Jakhongir Murtazakulov 
            .start__title 
                h2= site_name 
            .start__social 
                a(href="https://t.me/jaxonaken")
                    i.fa-brands.fa-telegram
                a(href="https://instagram.com/jakh0n.ake")
                    i.fa-brands.fa-facebook 
                a(href="https://github.com/J0KH0N")
                    i.fa-brands.fa-github 
    